<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.epitech.diabetips">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_invert"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_invert_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.SignUpActivity" android:windowSoftInputMode="adjustPan" android:screenOrientation="portrait" />
        <activity android:name=".activities.NavigationActivity" android:windowSoftInputMode="adjustPan" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>
        <activity android:name=".activities.HomeFragment" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activities.ProfileFragment" android:screenOrientation="portrait" />
        <activity android:name=".activities.SettingsFragment" android:screenOrientation="portrait" />
        <activity android:name=".activities.RecipeActivity" android:windowSoftInputMode="adjustPan" android:screenOrientation="portrait" />
        <activity android:name=".activities.FoodActivity" android:windowSoftInputMode="adjustPan" android:screenOrientation="portrait" />
        <activity android:name=".activities.NewMealActivity" android:windowSoftInputMode="adjustPan" android:screenOrientation="portrait" />
        <activity android:name=".activities.NewEntryActivity" android:windowSoftInputMode="adjustPan" android:screenOrientation="portrait" />
        <activity android:name=".activities.NewRecipeActivity" android:windowSoftInputMode="adjustPan" android:screenOrientation="portrait" />
        <activity
            android:name=".activities.DashboardActivity"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>